:host {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

h1 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
